@font-face {
    font-family: 'Minecraft';
    src: url('assets/font/Minecraft.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('assets/font/Oswald.ttf') format('truetype');
}

body {
    /* background-image: url('assets/images/ps1_off.png'); */
    background-color: #2b2f33;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}



#overlayImage {
    position: absolute;
    margin-left: 45vw;
    margin-top: 150px;
    object-fit: cover; 
    z-index: 1;
    pointer-events: none;
}


#game {
    position: relative;
    width: 100%;
    height: 100%;
}

#boutique {
    position: absolute;
    top: 53px;
    right: 170px;
    width: 50vw;
    height: 88vh;
    /* background-color: aqua; */
    background-color: rgba(19, 17, 17, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    border: 2px solid #e4ca25;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-left: 30px;
}

.helper, .improvement {
    width: 100%;
}

.helpername {
    display: flex;
    align-items: center;
}


.price {
    margin-top: -32px;
    margin-left : 77px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color :#e1c917;
    font-family: "Minecraft";
}

.helpername p {
    margin-top : -9px;
    margin-left : 10px;
    font-size: 20px;
    font-family: 'Oswald';
    color :antiquewhite
}

.helper button{
    border-radius: 25px;
    background-color: #1e1e1e;
    margin-top: 10px;

}

.helper button:hover {
    background-color: #26aee4;
    color :beige
}

#boutique .row{

    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
}


.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell .helper-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-evenly; 
    margin: 10px 0;
    padding : 0.5px;
    background-color: rgba(23, 22, 22, 0.5);  
    border : 2px solid #e4ca25;
    border-radius: 5px;
    grid-template-columns: repeat(3, 1fr);
    height: 8vh;
    width: 25vh;
    width: 100%;
}

/* .cell {

    display: grid;
    background-color: rgba(23, 22, 22, 0.5);  
    border : 2px solid #e4ca25;
    border-radius: 5px;
    grid-template-columns: repeat(3, 1fr);
    height: 8vh;
    width: 25vh;
    grid-gap: 10px;
    margin-top : 5px;
    margin-left: 10px;
    padding-left : 10px;
    justify-content: center;
    align-items: center;
} */

.improvement {
    position: relative;
}

.plus-icon {
    position: absolute;
    /* top: 40%;
    left: 50%; */
    transform: translate(-50%, -50%);
    margin-left : 10px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border : none;
    background: none;
}

.ameliorationHelperPrice {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(30%, -135%); 
    font-size: 22px;
    font-family: "Minecraft";
    color:#e0dfd5;
    /* background-color: rgba(0, 0, 0, 0.8);  */
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    display: none; 
}
.improvement:hover .ameliorationHelperPrice {
    display: block; 
}


#clickerButton {
    position: absolute;
    left: 64.5vw;
    top: 60vh; 
    font-size: 20px; 
    z-index: 2;
    opacity: 0.5;
}

#clickerCounter {
    position: absolute;
    left: 3%;
    top: -3%;
    font-family: 'Minecraft';
    color: white;
    font-size: 50px;
}



#cpsCounter {
    position: absolute;
    left: 3%;
    top: 5%;
    padding-top: 10px;
    font-family: 'Minecraft';
    color: white;
    font-size: 20px;
}

#worlds-banner {
    position: absolute;
    top : 15vh;
    left: 0;
    width: 32vw; 
    height: 80vh; 
    background-color: #2b2f33; 
    overflow-y: scroll;
    scrollbar-width: thin;
    direction: rtl;
}

.world {
    width: 92%;
    /* height: 120px;  */
    /* background-color: #555;  */
    margin: 10px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.level-display {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 3%;
    font-family: 'Minecraft';
    color: white;
}

#clicksEarnedContainer {
    position: relative;
    left: 1100px;
    top: 500px; 
    font-size: 30px; 
    font-family: 'Minecraft';
    color: white;
    z-index: 3;
    
}

.clickAnim {
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    z-index: 3;
}

@keyframes fadeInOut {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;

    }
}


.progress {
    width: 85%;
    height: 20px;
    margin-left: 15%;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-top: -2%;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #e4ca25;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }
  
  .clickAnimation {
    animation: fadeInOut2 1s ease-in-out;
  }
  
  @keyframes fadeInOut2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

#localstorage {
    position: absolute;
    top: 80px;
    left: 100px;
}

#goldbutton {
    margin-left: 31.7vw;
    margin-top: 45vh;
}

    /* SPRITE */
/*
  #animation {
  display: inline-block;
  position: relative;
  text-align: center;
    }   

    .showRoll #frame {
        border-color: hsl(0,0%,70%);
      }
      
      #frame {
        width: 50px;
        height: 72px;
        border: 1px solid transparent;
        background: url(assets/sprites/peter-sprite.png) no-repeat left top;
        animation: frame-animation 1s steps(10) infinite;    
      }
      
      @keyframes frame-animation { 0% { background-position: 0px 0; } 100% { background-position: -500px 0; } }
      
      
      
      /* -------------- Roll -------------- */
      
      /* .showRoll #roll {
        opacity: .2;
      }
      
      #roll {
        opacity: 0;
        z-index: -1;
        top: 0;
        left: 0;
        width: 500px;
        height: 72px;
        border: 1px solid hsl(0,0%,70%);
        background: hsl(0,0%,100%) url(assets/sprites/peter-sprite.png) no-repeat left top;
        transition: opacity .3s linear;
        animation:  roll-animation 1s steps(10) infinite;
      }
      
      @keyframes roll-animation { 
        0% { transform: translateX(0); } 
        100% { transform:  translateX(-500px); } 
      } */

.world-icon2,
.world-icon3,
.world-icon4,
.world-icon5,
.world-icon6,
.world-icon7,
.world-icon8,
.world-icon9,
.world-icon10 { 
    filter: contrast(10%);
    transition: filter 0.5s ease;
}

.level-2 .world-icon2,
.level-3 .world-icon3,
.level-4 .world-icon4,
.level-5 .world-icon5,
.level-6 .world-icon6,
.level-7 .world-icon7,
.level-8 .world-icon8,
.level-9 .world-icon9,
.level-10 .world-icon10 {
    filter: none;
}


