body {
    /* background-image: url('assets/images/ps1_off.png'); */
    background-color: black;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

#clickerButton {
    position: absolute;
    left: 51.5%;
    top: 76.5%; 
    font-size: 16px; 
}
#clickerCounter {
    position: absolute;
    left: 3%;
    top: -3%;
    font-family: 'Minecraft';
    color: white;
    font-size: 50px;
}

#bonusButton1 {
    position: absolute;
    left: 2%;
    top: 70%; 
    font-size: 16px; 
}

#priceBonus1 {
    position: absolute;
    left: 9%;
    top: 68.5%; 
    font-size: 16px; 
    font-family: 'Minecraft';
    color: white;
}

#ameliorationButton1 {
    position: absolute;
    left: 15%;
    top: 70%; 
    font-size: 16px; 
}

#ameliorationBonus1 {
    position: absolute;
    left: 24%;
    top: 68.5%; 
    font-size: 16px; 
    font-family: 'Minecraft';
    color: white;
}

#bonusButton2 {
    position: absolute;
    left: 2%;
    top: 75%; 
    font-size: 16px;
}

#priceBonus2 {
    position: absolute;
    left: 9%;
    top: 73%; 
    font-size: 16px; 
    font-family: 'Minecraft';
    color: white;
}

#ameliorationButton2 {
    position: absolute;
    left: 15%;
    top: 75%; 
    font-size: 16px; 
}

#ameliorationBonus2 {
    position: absolute;
    left: 24%;
    top: 73%; 
    font-size: 16px; 
    font-family: 'Minecraft';
    color: white;
}



